* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

body {
  font-family: @df-sans;
  max-width: 630px;
}

.title {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;

  &.big {
    font-size: 28px;
    text-align: center;
  }
}

.chatter {
  font-size: 15px;
  margin: auto;

  @media @break {
    padding-bottom: 15px;
  }
}

.note {
  font-size: 11px;
  font-style: italic;
  padding-top: 15px;
}

.image-container {
  text-align: center;
}

.section {
  .display-flex;

  @media @break {
    display: block;
  }
}

.info, .image-container {
  padding: 20px;

  @media @break {
    padding: 0;
  }
}

.masonry {
  .info {
    .flex(2);
    padding-bottom: 0;
  }
  .image-container {
    .flex(3);
    padding-bottom: 0;
  }
}

.during {
  padding: 20px;
  padding-top: 0;
  .display-flex;

  @media @mobile {
    padding-left: 0;
    padding-right: 0;
  }

  .during-image {
    .flex(1);
    padding-right: 10px;

    @media @mobile {
      text-align: center;
    }
  }
}

.retrofitting {
  @media @break {
    .details {
    }
  }

  .info, .image-container {
    .flex(1);
    .flex-order(1);
  }

  .info {
    .flex-order(2);

    @media @break {
      .flex-order(1);
    }
  }

  table {
    background: @df-off-white;
    padding: 10px;
    border-radius: 3px;

    @media @break {
      margin-top: 15px;
    }
  }

  td {
    vertical-align: top;

    &.details-text {
      padding-left: 5px;
    }
  }

  .click {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 14px;
    color: @df-middle-gray;

    @media @break {
      text-align: center;
      padding: 0;
    }
  }

  .fa-angle-double-left {
    @media @break {
      display: none;
    }
  }
  .fa-angle-double-down {
    display: none;
    @media @break {
      display: inline-block;
    }
  }
}

.retro-image {
  position: relative;
  display: inline-block;

  @media @break {
    width: 80%;
  }
}

.dot {
  background: @df-dark-gray;
  width: 23px;
  height: 23px;
  padding-top: 3px;
  color: white;
  font-size: 14px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;

  &:hover {
    background: @df-orange;
  }

  &.selected {
    background: @df-blue;
  }

  &.one {
    top: 21%;
    left: 62%;
  }
  &.two {
    top: 42%;
    left: 68%;
  }
  &.three {
    top: 80%;
    left: 68%;
  }
  &.four {
    top: 65%;
    left: 77%;
  }
  &.five {
    top: 29%;
    left: 21%;
  }
  &.six {
    top: 71%;
    left: 57%;
  }

  &.inline {
    position: relative;
    text-align: center;
  }
}

.source, .credit {
  font-size: 11.5px;
  color: @df-middle-gray;
}

.source {
  padding-bottom: 6px;
}