<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <responsive-child>
      <div class="top divider"></div>

      <div class="big title">Preventing earthquake damage</div>
      <div class="big chatter">
        <div>Newer buildings are designed to ride out an earthquake, but old brick and stone structures are vulnerable to collapse. To save lives and reduce – but not prevent – damage, these unreinforced masonry buildings would need to be retrofitted.</div>
      </div>

      <div class="masonry section">
        <div class="info">
          <div class="title">Unreinforced masonry</div>
          <div class="chatter">
            The vast majority of brick and stone buildings constructed before the 1940s are unreinforced masonry (URM). Most have brick walls and wood-frame floors and roofs. Very few were built after World War II and no new URMs were allowed in Seattle after 1977. A tell-tale sign of URM construction is what’s called header courses – lines of bricks turned on end.
          </div>
        </div>
        <div class="image-container"><img class="masonry-image" src="./assets/masonry.jpeg"></img></div>
      </div>

      <div class="divider"></div>

      <div class="info">
        <div class="title">During an earthquake</div>
        <div class="chatter">
          Unreinforced masonry buildings are vulnerable because the walls and parapets aren’t securely tied to the floors and roof. In an earthquake, parapets can break away, walls pull apart and the floors collapse. Retrofitting reduces the danger.
        </div>
      </div>
      <div class="during section">
        <div class="during-image">
          <div class="animation-title">Parapet breaks off <span class="aside">(URM)</span></div>
          <img src="./assets/parapet-FINAL.gif"></img>
        </div>
        <div class="during-image">
          <div class="animation-title">Building collapses <span class="aside">(URM)</span></div>
          <img src="./assets/collapse-FINAL.gif"></img>
        </div>
        <div class="during-image">
          <div class="animation-title">Building stays intact <span class="aside">(retrofit)</span></div>
          <img src="./assets/retrofit-FINAL.gif"></img>
        </div>
      </div>  

      <div class="divider"></div>  

      <div class="retrofitting section">
        <div class="info">
          <div class="title">Retrofitting old brick buildings</div>
          <div class="chatter">
            Upgrading an old building to make it more earthquake-safe involves connecting brick walls and parapets to the roof and floors.
          </div>
          <div class="click"><i class="fa fa-angle-double-left"></i> <em>Click on numbers for details.</em> <i class="fa fa-angle-double-down"></i></div>
          <div class="details chatter"></div>
        </div>
        <div class="image-container">
          <div class="retro-image">
            <img src="./assets/retrofitting.jpeg"></img>
            <div class="dot one">1</div>
            <div class="dot two">2</div>
            <div class="dot three">3</div>
            <div class="dot four">4</div>
            <div class="dot five">5</div>
            <div class="dot six">6</div>
          </div>
        </div>
      </div>

      <div class="source"><em>Sources:  Seattle Department of Planning and Development, Nancy Devine of Seattle Department of Planning and Development, FEMA, American Society of Civil Engineers, seblog.strongtie.com, Mark Pierepiekarz of MRP Engineering</em></div>
      <div class="credit">STEPHANIE REDDING AND AUDREY CARLSEN / THE SEATTLE TIMES</div>

      <div class="divider"></div>
      
    </responsive-child>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
